<div class="flex flex-column align-items-center justify-between gap-4">
  <span class="font-bold"><%= link_to ranked_list.name, ranked_list_path(ranked_list) %></span>
  <span>Items: <%= ranked_list.items_count %></span>
  <span>Votes: <%= ranked_list.votes_count %></span>
</div>
