<div class="alert alert-error flex flex-column justify-between" data-controller="toast" data-toast-timeout-value="5000">
  <span><%= content %></span>
  <button data-action="toast#close">
    <%= heroicon "x-mark", class: "size-6" %>
  </button>
</div>

