<article>
  <div>
    <h1 class="font-bold text-4xl">About Rank Everything</h1>
  </div>

  <div class="prose">
    <p>some of the tech we use is:
    <ul>
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>tailwindcss</li>
      <li>DaisyUI</li>
      <li>Heroicons</li>
    </ul>
    </p>
  </div>
</article>
