<article>
  <div>
    <h1 class="font-bold text-4xl">Welcome to Rank Everything</h1>
  </div>

  <p class="prose">
    Rank everything is dedicated to create ranked lists of... well, everything.

    We provide a simple way to create ranked lists of anything, and allow you to rank them using several methods. You
    can create your own team, and invite your friends to join you in ranking, or even just allow the public to vote.
  </p>
</article>
